<!DOCTYPE html>
<html>
<body style = "bgcolor :  #d3d3d3">

<div style="background-color:#33CCFF ">

<h2 style = "text-align:center;">AUTODEALER</h2>
<hr/>
</div>

 <div style= height:400px;width:500px;float:left;>


</div>

 <%= link_to "Car Dealerships", "/cardealerships/index" %>

<div id="footer" style="background-color:#CCFFFF;clear:both;text-align:center;">EDWIN MATERA :201175812
</div>
</body>
</html>